.box {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  overflow: auto;
  margin: 10px;
  padding: 10px;
  text-align: center;
  padding-top: 90px;
  box-sizing: border-box;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.hide {
  display: none;
}
#abc {
  background-color: aqua;
}
div {
  background-color: blue;
}
.box b {
  color: red;
  font-size: 30px;
}

b,
div {
  color: saddlebrown;
}
